#head1 {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 50px;
}

#head2 {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 50px;
}

#spacerType1 {
  border: black 4px solid;
  height: 20px;
  width: 100%;
}
